.store-container {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap-sm);
}

.store-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--global-gap-sm);
}

.store-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-gap-sm);
}

.store-services-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-gap-sm);
  color: darkgray;
}

.services-list-title {
  text-transform: uppercase;
}

.store-rating-bubble {
  display: flex;
  justify-content: center;
  padding: var(--global-padding-xs);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(229, 56, 13);
  color: #fff;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--global-gap-lg);
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--global-gap-lg);
  height: fit-content;
}

.google-maps-container {
  height: 300px;
  border-radius: var(--global-border-radius-sm);
  border: none;
}

@media (width <= 600px) {
  .two-col-grid {
    grid-template-columns: 1fr;
  }
}
