#contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap-sm);
}

.contact-form__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-gap-sm);
}

.contact-form__col {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 0;
  gap: var(--global-gap-sm);
}

.contact-form__row input,
.contact-form__row label {
  display: flex;
  white-space: nowrap;
}

.contact-input {
  width: 100%;
}

.contact-section {
  padding: var(--global-padding-md);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-form__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-form__col {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Code */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Code */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Code */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
