#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__title-name {
  text-transform: uppercase;
  text-decoration: none;
}

#nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__menu-item {
  list-style: none;
}

.nav__menu-item-link {
  --nav-pill-padding: 3px 20px 3px 20px;
  --nav-pill-border: solid 1px #000;

  padding: var(--nav-pill-padding);
  border-radius: var(--global-pill);
  text-decoration: none;
  white-space: nowrap;
}

#nav__icons {
  z-index: 2;
}

#menu-icon {
  display: none;
  cursor: pointer;
}

#menu-icon-x {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  #menu-icon {
    border: solid 1px #000;
    background: #fff;
  }

  #menu-icon-x.fixed {
    border: solid 1px #000;
    background: #fff;
  }

  .nav__title-name {
    color: #000;
  }

  .nav__menu-item-link {
    --nav-pill-padding: 3px 20px 3px 20px;
    --nav-pill-border: solid 1px #000;
    color: #000;
    border: var(--nav-pill-border);
    background: #fff;
  }

  #nav__menu.open {
    background-color: #fff;
    border: solid 1px #000;
  }

  #nav__icons svg {
    fill: #000;
    stroke: #000;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  #menu-icon {
    border: var(--global-border);
    background: var(--global-light-grey);
  }

  #menu-icon-x.fixed {
    border: var(--global-border);
    background: var(--global-light-grey);
  }

  .nav__title-name {
    color: #ffffff;
  }

  .nav__menu-item-link {
    --nav-pill-padding: 3px 20px 3px 20px;
    border: var(--global-border);
    color: #ffffff;
    background: var(--global-light-grey);
  }

  #nav__menu.open {
    background-color: var(--global-light-grey);
    border: var(--global-border);
  }

  #nav__icons svg {
    fill: #fff;
    stroke: #fff;
    color: #fff;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  #nav {
    flex-direction: column;
  }

  #nav__title {
    gap: var(--global-gap-sm);
  }

  #nav--mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #menu-icon {
    position: fixed;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    right: var(--global-padding-sm);
    padding: var(--global-padding-sm);
    border-radius: var(--global-border-circle);
  }

  #menu-icon-x.fixed {
    position: fixed;
    right: var(--global-padding-sm);
    padding: var(--global-padding-sm);
    border-radius: var(--global-border-circle);
    cursor: pointer;
  }

  #nav__menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
  }

  #nav__menu.open {
    position: fixed;
    display: flex;
    align-self: flex-end;
    gap: var(--global-gap-sm);
    width: fit-content;
    padding: var(--global-padding-sm);
    border-radius: var(--global-border-radius-sm);
    top: 5em;
    z-index: 10;
  }

  .nav__menu-item-link {
    flex-basis: 0;
    flex: 1 1;
    width: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav__menu {
    gap: var(--global-gap-sm);
  }

  #nav__title {
    gap: var(--global-gap-md);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Code */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #nav__title {
    gap: var(--global-gap-md);
  }

  .nav__title-icon {
    width: 32px;
    height: 32px;
  }

  #nav__menu {
    gap: var(--global-gap-lg);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Code */
}
