.store-container {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap-sm);
}

.store-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-gap-sm);
}

.store-rating-bubble {
  background-color: lightcoral;
  padding: var(--global-padding-xs);
  border-radius: 100%;
}

.store-service-bubble {
  padding: var(--global-padding-xs);
  border-radius: var(--global-pill);
  background-color: lightgreen;
}
